body{
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url('/static/images/Churn.jpg');
    height:100vh;
    background-size: cover;
    background-position: center;
}
.input form{
    padding-right: 10px;
    font-size: 15px;
    text-align: right;
    border-radius: 5px;
}

.content
{
    font-family:cursive;
    padding-left: 50px;
    font-size: 20px;
    position:absolute;
    top: 100px;
}
.column {
    float:right;
    width: 25%; 
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }