*
{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url('/Static/images/airplane.jpg');
    height:100vh;
    background-size: cover;
    background-position: center;
}
.nav-menu
{
    float:right;
    list-style: none;
    margin-top: 30px;
    font-size: 25px;
}
.nav-menu li{
    display:inline-block;
    padding:5px 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-menu li a:hover{
    border:1px solid:grey;
    background-color: white;
}